* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url('lush-rice-paddy-field-neat-260nw-2499404003.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background-color: aqua;
}

header {
    
    background-color: rgba(231, 253, 253, 0.4);
    font-size: 20px;
    margin-top: 300px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    height: 80px;
    border-top-width: 60px;
    align-items: center;
    margin-top: 25px;
}

.logo{
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 18px;
}

nav{
    border-radius: 5px;
}

main {
    margin-top: 300px;
    text-align: center;
    color: white;
    font-size: large;
}

.head1{
    margin-bottom: 40px;
    font-size: 30px;
}

.head2 {
    margin-bottom: 40px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button {
    margin-top: 100px;
    border-radius: 25px;
    border: none;
    width: 200px;
    height: 40px;
    margin-bottom: 50px;
}

button:hover {
    color: rgb(251, 253, 252);
    transition: calc(1s);
    background-color: rgb(17, 17, 94);
}

footer{
    padding: 5px;
    margin-top: 200px;
    background-color: rgba(240, 255, 255, 0.3);
    text-align: center;
    font-size: small;
}